/* COLORS */
:root {
  --black: #0a0a0a;
  --dark: #121212;
  --orange: #f96e3b;
  --white: #fff;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--black);
  color: var(--white);
}
.btn {
  background: var(--orange);
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}
.nav-btn {
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}
.hero h1 {
  font-size: 48px;
}
.hero p {
  margin: 10px 0 30px;
}

/* QUIZ */
.quiz-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}
.option {
  background: var(--dark);
  margin: 10px 0;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.option:hover {
  background: #1f1f1f;
}
